 img {
            width: 100%;
            transition: transform 0.5s ease;
        }
        img:hover{
            transform: scale(1.1);
        }
        .container-fluid{
            /* border: 1px solid black; */
            height: 400px;
            gap: 5px;
            width: 70%;
            padding-top: 7px !important;
            padding-right: 4px !important;
            padding: 7px;
            background-color: rgb(242, 220, 220);
            padding: 300px !important;
            position: relative;
            position: absolute;
            
        }
        .contain{
            border: 1px solid black;
        }
        .leftbox{
            height: 380px;
            width: 530px !important;
            padding-left: 20px !important;
            position: relative;
           
        }
        .rightbox{
            /* border: 1px solid black; */
            height: 100%;  
            margin-right: 15px !important;
            /* position: absolute; */

        }

        .littlebox{
        height: 50px !important;
        /* border: 1px solid black; */
         margin-top: 40px !important;
         
        }

        .littleboxu{
            height:100px ;
            margin-left:40px !important;
            margin-top:35px !important;
            text-align: center;
            font-size:17px !important;
        }

        h6{
            text-align: center;
        }

        .rightpic{
            height: 450px;
            /* justify-content: center !important; */
            /* object-fit:contain; */
            width: 100%;
            margin-right: 15px !important;
            /* position: absolute; */

        }
        .littlebox1{
            height: 20vh;
            width: 120px !important;
            margin-bottom: 60px !important;
        }

        .littlebox2{
            height: 20vh;
            width: 120px;
            margin-bottom: 60px !important;
        }

        .littlebox3{
            height: 20vh;
            width: 120px;
            margin-bottom: 60px !important;
        }

        span{
            background-color: aliceblue;
            color: brown;
            padding: 3px !important;
        }

        .sss{
            height: 14px;
            width: 15px;
            margin-top: 19px;
            position: absolute;
            /* position: relative; */
        }

        .pppp{
            font-size: 8px;
            margin-left: 19px;
            position: relative;
            position: absolute;
             margin-top: 19px;
            
        }

        a{
            text-decoration: none !important;
            background-color: brown;
            /* border: solid black; */
            font-size: 10px !important;
            text-align: center !important;
            position: absolute;
            margin-top: 22px;
            color: white !important;
            padding: 8px;
            width: 220px !important;
        }

        h1{
            text-align: center;
            
        }

         @media screen and (max-width:756px) {
            .containe{
                width: 100% !important;
            }

            .contain{
                display: block !important;
            }

            .container-fluid{
                height: auto;
            }
            
        }