.boxxx{
    border: 1px solid black;
}

.boxx{
    border: 1px solid black;
    height: 200px;
}

.navbar-nav {
          flex-grow: 1;
          gap: 5rem;
        }

        .navbar .d-flex {
          margin-left: auto;
        }