* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.first-section {
    background: url(./section4/section-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 100%;
}

.color {
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(108, 10, 10, 0.568), rgba(107, 134, 8, 0.888), rgba(4, 4, 4, 0.911));
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
}

.content {
    min-height: 150px;
    width: 100%;
    justify-content: center;
}

.first-section a {
    color: orangered !important;
    text-decoration: none;
}

.first-section h5 {
    color: orangered;
}

.box {
    transition: transform 1.2s ease-in-out;
    box-shadow: 0px 5px 10px orangered;
}

.box:hover {
    transform: translateY(-10px);
    background-color: orangered !important;
}

.box:hover i,
.box:hover h5,
.box:hover p {
    color: white !important;
}

button {
    background-color: orangered;
    color: white;
    border: none;
    font-weight: 500;
    transition: transform 1.5s ease-in-out;
}

button:hover {
    background-color: white;
    color: orangered;
    transform: scale(1.15);
}

.hover h1 {
    color: white;
    transition: transform 0.5s ease-in-out;
}

.hover:hover h1 {
    transform: translateY(-10px);
}