* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
        }

        /* .nav-bar {position: absolute;} */

        .navbar-nav {
          flex-grow: 1;
          gap: 5rem;
        }

        .navbar .d-flex {
          margin-left: auto;
        }

        .carousel {
          height: calc(100vh - 70px);
        }

        .carousel-inner, .carousel-item {
          height: 100%;
        }

        .carousel-caption {
          font-weight: 900;
        }